@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
  display: flex;
  width: 1600px;
  height: 92px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
  background-color: #1A0B2E;
}
.brand{
  color: #FFFFFF;
  width: 219px;
  height: 32px;
  font-size: 2rem;
  font-weight: 600;
}

.brand .color-linear{
  color: #f715c6;
  width: 219px;
  height: 32px;
}

.menu{
  display: flex;
  list-style: none;
  color: #FFFFFF;
  gap: 32px;
}
.btn-primary{
  color: #FFFFFF;
  width: 135px;
  height: 44px;
  gap: 4px;
  padding: 12px 16px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
}
.banner{
  margin: auto;
  width: 1600px;
  height: 760px;
  background-image: url(hero-circle.png);
  background-size: cover;
}
.hero-bg{
  width: 1600px;
  height: 760px;
  margin: 0 auto;
  position: relative;
}
.banner .circle{
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-5%, -75%);
}
.mic{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.hero-content{
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  color: #FFFFFF;
  width: 100%;
}
.hero-content h1{
  font-size: 4rem;
  font-weight: 600;
  align-items: center;
}

.btn-second{
  display: flex;
  width: 201px;
  height: 44px;
  font-weight: 400;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50px;
  cursor: pointer;
}
.transparent{
  background: transparent;
  border: 2px solid #00FF88;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 50px;
  color: #00FF88;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero-content .btn{
  display: flex;
  justify-content: center;
  gap: 8px;
}


.about{
  margin: auto;
  width: 1600px;
  height: 646px;
  padding: 50px 200px 120px;
  background-color: #1A0B2E;
}
.about-title{
  color: #FFFFFF;
  justify-items: center;
  text-align: center;
  margin-bottom: 160px;
}
.about-title h1{
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}

.about-rating{
  display: flex;
  width: 1200px;
  height: 94px;
  text-align: center;
  justify-content: space-around;
}
.about h1{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 600;
}
.about p{
  color: #FFFFFF;
}

.choose-section{
  margin: auto;
  width: 1600px;
  height: 1121px;
  padding: 120px 200px;
  background-color: #230E3D;
}

.choose-section h1{
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.choose-container{
  color: white;
  width: 1200px;
  height: 783px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
}

.choose-container h2{
  color: #FFFFFF;
  font-weight: 600;
  text-align: left;
  font-size: 1.5rem;
}
.choose-container p{
  text-align: left;
  align-items: center;
  justify-content: center;
}


.medium-layout{
  align-content: center;
  grid-column: span 1;
  grid-row: span 2;
  background: #351165;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.big-layout{
  grid-column: span 2;
  grid-row: span 1;
  align-content: center;
  width: 790px;
  height: 273px;
  padding: 30px;
  background-color: #351165;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.small-layout{
  grid-column: span 1;
  grid-row: span 1;
  align-content: center;
  width: 380px;
  height: 273px;
  padding: 30px;
  background-color: #351165;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.features{
  display: grid;
  margin: auto;
  width: 1600px;
  height: 1276px;
  padding: 120px 200px;
  background-color: #1A0B2E;
}
h2{
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.card{
  display: grid;
  width: 380px;
  height: 440px;
}
.footer-container{
  position: relative;
  width: 100%;
  overflow: hidden;
 
  justify-content: center;
  align-items: center;
}
.footer-container img{
  margin: auto;
  width: 1600px;
}
.footer-content{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 120px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}
.footer-content h1{
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
}
.color-linear{
  color: #f715c6;
  width: 219px;
  height: 32px;
} 
.social-links{
  margin-top: 20px;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -60%);
  text-align: center;
  color: white;
  width: 100%;
}